.leftNavMenuToggle {
	float: left;
	height: 34px;
	margin: 8px;
	padding: 2px;
}
.leftNavMenuToggle img {
	height: 30;
	padding: 0px;
	margin: 0px;
}
.sidebar {
	padding:0px;
	margin:-20px 0px 0px 0px;
	background: #E6E6FF;
}
.sidebar h3 {
	margin: 5px 0px 0px 10px;
	padding: 0px;
}